/static/images/tmp_out.png
/static/images/color.png
/static/images/med_mult.png
/static/images/median_color.png
/static/images/median_color_soft.png
/static/images/median_out.png
/opencv_ffmpeg320_64.dll
/opencv_ffmpeg320.dll
/images/**/*.png
